@import "tailwindcss";

:root {
	--font-inter: "Inter", sans-serif;
	--font-mono: "JetBrains Mono", monospace;
}

h1,
span,
h3 {
	font-family: var(--font-mono);	


}

h2,
p,
h4 {
	font-family: var(--font-inter);

}